body {
    font-family: "Press Start 2P", monospace;
    background: #1e1e1e;
    color: white;
    margin: 0;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 32px;
    margin-top: 150px;
}

h2 {
    font-size: 16px;
    margin-top: 20px;
}

@media (max-width: 600px) {
    h1 {
        font-size: 16px;
        margin-top: 150px;
    }

    h2 {
        font-size: 12px;
    }
}